/downloads/

# Ignore Gradle's project-specific cache directory:
/.gradle/

# Ignore Gradle's build output directories:
/apps/build/
/lib/build/

# Ignore IDE-specific directories:
/.idea/
/.nb-gradle/